:root{
    --bg-black-900:#e4e4e4d5;
    --bg-black-700:#977a7a;
    --bg-black-50:#fdfdfdc9;
    --bg-black-500:#0a0a0c8e;
    --text-black-90:#3107c9d2;
    --text-black-900:#d5d1db;
    --text-black-100:#e42727dc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    height: 400px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.hidden{
    display: none !important;
}
.btn{
    background-color: var(--text-black-100);
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 50px;
    padding: 12px 0px;
    text-align: center;
    width: 160px;
    display: inline-block;
    color: white;
    margin-top: 30px;
}
.btn:hover{
    transform: scale(1.08);
}
.padd{
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    width: 100%;
    margin: auto;
}
.section{
    background-color: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
}
.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}
.sec-tittle{
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.sec-tittle h2{
    font-size: 30px;
    font-weight: 700;
    position: relative;
    box-shadow: 0px 1px 0px 1px var(--text-black-900);
    width: 200px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid var(--text-black-100);
}
.sec-tittle h5{
    position: absolute;
    bottom: 1px;
    margin-bottom: 50px;
    color: black;
    font-weight: 300;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sec-tittle h5::before{
    content: "";
    width: 200px;
    height: 3px;
    background-color: var(--text-black-100);
    position: absolute;
    bottom: -3px;
    left: -50px;
}

.upside{
    background: transparent;
    flex:  0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.upside .logo{
    margin-left: 8px;
}
.upside .logo a{
    color: white;
    font-size: 26px;
    font-weight: 900;
    margin-left: 15px;
}
.upside .logo a:before{
    content: "";
    width: 22px;
    height: 23px;
    position: absolute;
    border-top: 5px solid var(--text-black-100);
    border-left: 5px solid var(--text-black-100);
    border-bottom: 5px solid var(--text-black-100);
    left: 10px;
    top: 0;
}
.upside .logo a::after{
    content: "";
    width: 22px;
    height: 23px;
    position: absolute;
    border-top: 5px solid var(--text-black-100);
    border-right: 5px solid var(--text-black-100);
    border-bottom: 5px solid var(--text-black-100);
    top: 0;
}
.upside .nav-toggle{
    width: 36px;
    height: 36px;
    background-color: var(--bg-black-700);
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid var(--text-black-900);
    z-index: 9999;
    justify-items: center;
    align-items: center;
    display: none;
}
.upside .nav-toggle span{
    width: 20px;
    height: 2px;
    background-color: var(--text-black-100);
    display: inline-block;
    position: relative;
    left: 6px;
}
.upside .nav-toggle.open{
    position: fixed;
    right: 0;
    top: 0.7px;
}
.upside .nav-toggle.open span{
    background: transparent;
}
.upside .nav-toggle.open span::before{
    transform: rotate(45deg);
    top: 0;
}
.upside .nav-toggle.open span::after{
    transform: rotate(-45deg);
    top: 0;
}
.upside .nav-toggle span::before{
    content: "";
    width: 20px;
    height: 2px;
    background-color: var(--text-black-100);
    display: inline-block;
    position: absolute;
    top: -10px;
}
.upside .nav-toggle span::after{
    content: "";
    width: 20px;
    height: 2px;
    background-color: var(--text-black-100);
    display: inline-block;
    position: absolute;
    bottom: -10px;
}
.upside .navlist li{
    padding-right: 20px;
    display: inline;
}
.upside .navlist a{
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.home{
    margin-top: -50px;
    min-height: 100vh;
    display: flex;
    background-image: linear-gradient(to top left, rgba(126, 213, 111, 0.8), rgba(77, 40, 180, 0.8)), url(../img/MM.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1000;
}
.home .home-detail{
    flex: 0 0 60%;
    max-width: 60%;
    text-align: center;
}
.home .home-detail a{
    font-size: 20px;
}
.home h3{
    font-size: 26px;
    font-weight: 600;
    font-family: cursive;
}
.home h4{
    font-size: 26px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15px ;
}
.typing{
    font-size: 30px;
    color: var(--text-black-100);
}
.home p{
    font-size: 20px;
    padding-bottom: 30px;
    color: var(--text-black-100);
}
.home .home-img{
    flex:  0 0 40%;
    max-width: 40%;
    box-shadow: 2px 1px 1px 1px var(--text-black-900);
    border-radius: 50px;
    position: relative;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.home .home-img img{
    height: 400px;
    width: 300px;
    border-radius: 50px;
    transition: 1s all ease;
}
.home .home-img img:hover{
    transform: scale(0.8);
}
.about .about-info{
    flex: 0 0  100%;
    max-width: 100%;
    padding-bottom: 20px;
    text-align: center;
}

.about .info-head .info{
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    box-shadow: 10px 10px 10px 10px var(--text-black-900);
}
.about .info .info-img{
    flex: 0 0 50%;
    max-width: 50%;
    height: 500px;
}
.about .info .info-img img{
    height: 500px;
    width: 100%;
    height: 100%;
}
.about .info .info-detail{
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: 30px;
    padding-left: 10px;
}
.about .info .info-detail h3{
    font-size: 20px;
    color: hwb(0 7% 93% / 0.897);
    padding-bottom: 30px;
}
.about .info .info-detail h4{
    font-size: 19px;
    color: rgba(0, 0, 0, 0.774);
    border-bottom: 1px solid var(--text-black-100);
    padding-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.about .info .info-detail .info-list{
    margin-top: 20px;
    position: relative;
}
.about .info .info-detail .info-list .list-item{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
.about .info .info-detail .info-list .dot{
    height: 11px;
    width: 11px;
    background-color: var(--text-black-100);
    border-radius: 50px;
    margin-right: 10px;
}
.about .info .info-detail .info-list span{
   color: var(--bg-black-500);
   text-transform: capitalize;
   font-size: 14px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about .info .info-detail .button{
    flex: 0 0 50%;
    display: inline-block;
    max-width: 50%;
    font-size: 13px;
}
.More-about .list-head{
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    height: 340px;
}
.More-about .list-head .more-list{
    flex: 0  0 30%;
    max-width: 30%;
    font-size: 15px;
    height: 100%;
    box-shadow: 15px 0 9px -15px #1f2235;
}
.More-about .list-head .more-list .more-list-contain{
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}
.More-about .list-head .more-list .more-list-contain .item-backgroud{
    width: 34px;
    height: 100%;
    z-index: 1;
    background-color: black;
    position: absolute;
}
.More-about .list-head .more-list .more-list-contain .more-list-items{
    position: relative;
    z-index: 2;
    width: 86%;
}
.More-about .list-head .more-list .more-list-contain .more-list-items .fa-item{
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 40px;
    margin: 10px 0;
    padding: 0 8px;
    border-radius: 20px;
    width: 30px;
    background-color: black;
    transition: width 0.6s ease 0s;
}
.More-about .list-head .more-list .more-list-contain .more-list-items .fa-item.active{
    color: white;
    width: 100%;
}
.More-about .list-head .more-list .more-list-contain .more-list-items .fa-item i{
    color: white;
}
.More-about .list-head .more-list .more-list-contain .more-list-items .fa-item span{
    white-space: nowrap;
    font-size: 14px;
    font-family: serif;
    margin-left: 20px;
}
.More-about .list-head .morelist{
    flex: 0 0 70%;
    max-width: 70%;
    overflow: hidden;
}
.More-about .list-head .morelist .morelist-head.active{
    background-color: black;
    width: 10rem;
    color: white;
}
.More-about .list-head .morelist .morelist-head{
    position: relative;
}
.More-about [data-content] {
    display: none !important;
}
.active[data-content] {
    display: flex !important;
    z-index: 2;
    opacity: 1;
    animation: slide 0.9s ease;
}
@keyframes slide {
    0%{
        transform: translateY(-1440px);
    }
    100%{
        transform: translateY(0px);
    }
}
.More-about .list-head .morelist .morelist-head  .morelist-details{
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 360px;
    transition: transform all 3.2s ease;
}
.More-about .morelist .morelist-head .morelist-details .edu-details{
   display: flex;
   flex-direction: column;
}
.More-about .morelist .morelist-head .morelist-details .edu-details .circle{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--text-black-100);
    position: absolute;
    left: -30px;
    top: 5px;
}
.More-about .morelist .morelist-head .morelist-details .edu-details .info{
    display: flex;
    position: relative;
    justify-content: space-between;
}
.descrip{
    margin-top: 10px;
}
.descrip p{
    font-size: 15px;
    margin-top: 10px;
    font-weight: 500;
}
.More-about .morelist .morelist-head .morelist-details .edu-details .info h4{
    font-size: 19px;
    font-weight: bold;
    color: var(--text-black-100);
    font-weight: 600;
}
.More-about .morelist .morelist-head .morelist-details .info-details p{
   font-size: 16px;
   padding: 1px 0 0;
}
.More-about .morelist .morelist-head .morelist-details .edu-details .info h5{
    padding-top: px;
}
.More-about .morelist .morelist-head .morelist-details .edu-details .info .years{
    background-color: var(--text-black-100);
    width: 100px;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.More-about .list-head .morelist .morelist-details .skill-head{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}
.More-about .list-head  .morelist .morelist-details .skill-item{
    flex: 0 0 50%;
    max-width: 50%;
    padding-bottom: 30px;
    padding-right: 20px;
    justify-content: space-evenly;
}
.More-about .list-head .morelist .morelist-details .skill-item h3{
    font-size: 20px;
    color: var(--bg-black-700);
}
.More-about .list-head .morelist .morelist-details .progress{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.More-about .list-head .morelist .morelist-details .progress-in{
    background-color: var(--text-black-100);
    height: 100%;
    border-radius: 4px;
}
.More-about .list-head .morelist .morelist-details .progress-percent{
    position: absolute;
    top: -25px;
    right: 0;
    font-size: 20px;
    font-weight: 500;
    color: var(--bg-black-50);
}
.portfolio .portfolio-heading{
    font-size: 25px;
    margin-bottom: 20px;
}
.portfolio .portfolio-details{
    display: flex;
}
.portfolio .portfolio-item{
    flex: 0 0 33%;
    max-width: 33%;
    margin-bottom: 30px;
    overflow: hidden;
    cursor: pointer;
}
.portfolio .portfolio-item .portfolio-inner-item .portfolio-img{
    width: 100%;
}
.portfolio .portfolio-item .portfolio-inner-item img{
    border-radius: 4px;
    border: 5px solid var(--text-black-100);
    width: 100%;
    display: block;
}
.contact .contact-back{
    background-color: black;
    height: 500px;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    border-radius: 20px;
}
.contact .contact-back .contact-media{
    flex: 0 0 50%;
    max-width: 50%;
    align-items: center;
    display: flex;
}
.contact .contact-back .contact-media h2{
    color: white;
    margin-right: 10px;
}
.contact .contact-back .contact-media .media{
    display: flex;
    align-items: center;
    gap: 5px;
}
.contact .contact-back .contact-media .media .media-item{
    background-color: white;
    display: inline-flex;
    align-items: center;
    padding: 3px 1px 3px 1px;
    
    border-radius: 4px;
    border: 1px solid white;
}
.contact .contact-back .contact-media .media .media-item a{
    display: inline-flex;
    align-items: center;
}
.contact .contact-back .contact-media .media .media-item i{
    display: inline-flex;
    font-size: 21px;
    color: rgb(58, 58, 129);
    align-items: center;
    transition: 1s;
}
.contact .contact-back .contact-media .media .media-item span{
    font-size: 11px;
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
    white-space: nowrap;
    line-height: 14px;   
    transform: translateX(7px);
    max-width: 0;
    overflow: hidden;
    transition: 1.2s;
}
.contact .contact-back .contact-media .media .media-item span::after{
    content: "";
    margin-right: 6px;
}
.contact .contact-back .contact-media .media .media-item:hover i,
.contact .contact-back .contact-media .media .media-item:hover span{
    color: blue;
}
.contact .contact-back .contact-media .media .media-item:hover span{
    max-width: 400px;
}
.contact .contact-back .contact-form{
   flex: 0 0 50%;
   max-width: 50%;
   width: 100%;
   position: absolute;
   bottom: 0;
   right: 0;
   padding: 12px 32px;
}
.contact .contact-back .contact-form .form-item{
    margin-bottom: 10px;
    padding-left: 10px;
}
.contact .contact-back .contact-form .col-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-back .contact-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-back .contact-form .form-item .form-control{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--text-black-100);
    padding: 10px;
    font-size: 15px;
}
.contact .contact-back .contact-form .form-item .form-control:hover{
    border: 1px solid var(--text-black-100);
}
.contact .contact-back .contact-form .form-item .form-control:focus{
    box-shadow: 0 0 5px 2px var(--bg-black-700);
}
.contact .contact-back .contact-form textarea.form-control{
    height: 120px !important;
}
.contact .contact-back .contact-form .con-btn{
    padding: 0 50px;
    height: 50px;
    cursor: pointer;
    background-color: red;
    border-radius: 50px;
    color: white;
}
.contact .contact-back .contact-form .btn:hover{
    padding: 10px;
}
@media (max-width:1199px) {
    .upside .nav-toggle{
        display: flex;
    }
    .upside .navlist{
        position: fixed;
        background-color: blue;
        background: hsl(0 40% 90% / 0.1);
        backdrop-filter: blur(20px);
        z-index: 1;
        inset: 0 0 0 30%;
        padding: min(30vh, 200px) 40px;
        transform: translateX(100%);
    }
    .upside .navlist.open{
        transform: translateX(-0%);
    }
    .upside .navlist ul li a{
        display: flex;
        flex-direction: column;
    }
    .More-about .list-head{
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin: 30px 0px;
    }
    .More-about .list-head .more-list{
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .More-about .list-head .morelist{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }
    .More-about .list-head .morelist .morelist-head  .morelist-details{
        padding: 0;
    }
}
@media (max-width:997px) {
    .home .home-detail{
        flex:  0 0 100%;
        max-width: 100%;
    }
    .home .home-img {
        display: none;
    }
    .about .info-head .info{
        flex: 0 0 80%;
        max-width: 80%;
        width: 100%;
    }
    .about .info-head .info,
    .about .info-head .info .info-detail{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about .info-head .info .info-img{
        display: none;
    }
    .portfolio  .portfolio-item{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width:767px) {
    .section{
        min-height: 0;
    }
    .More-about .list-head{
        display: flex;
    }

    .about .info-head .info .info-detail{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact .contact-back .contact-media, 
    .contact .contact-back .contact-form,
    .More-about .list-head  .morelist .skill .skill-item{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact .contact-back .contact-form .col-6{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .info-detail .button{
        flex: 0 0 100%;
        max-width: 100%;
        align-items: center;
    }
}
@media (max-width:490px) {
    .upside{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home{
        min-height: 100vh;
    }
    .home .home-detail{
        text-align: center;
    }
    .home .home-detail{
        position: absolute;
        top: 30px;
    }
    .home .home-img{
        display: block;
        bottom: 100px;
        border-radius: 50%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-img img{
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
    .home .home-detail a{
        margin-top: 0;
    }
    .about .info .info-detail .norow{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
@media (max-width:360px) {
    .home .home-img{
        display: none;
    }
    .home .home-detail {
        position: relative;
        top: 0;
    }
}